
<div class="container">
    <h2>Benutzereinstellungen</h2>

<form #form="ngForm">
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" name="name" class="form-control" placeholder="Name" ngModel/>
    </div> 
    <div class="form-check form-group">
        <input class="form-check-input" type="checkbox" name= "emailOffers" id="emailOffers" ngModel/>
        <label class="form-check-label" for="emailOffers" >
          Angebote per E-Mail erhalten
        </label>
    </div>

    <h5>Style Benutzeroberfläche</h5>
    <div class="form-group">
        <div class="form-check">
            <input class="form-check-input" type="radio" name="interfaceStyle" id="lightInterface" value="light" checked ngModel>
            <label class="form-check-label" for="lightInterface">
              Hell
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="interfaceStyle" id="mediumInterface" value="medium" ngModel>
            <label class="form-check-label" for="mediumInterface">
              Mittel
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="interfaceStyle" id="darkInterface" value="dark" ngModel >
            <label class="form-check-label" for="darkInterface">
              Dunkel
            </label>
          </div>
    </div>

    <div class="form-group">
        <label for="subscriptionType">Abonnement-Typ</label>
        <select class="form-control" id="subscriptionType" name="subscriptionType" ngModel>
          <option>Monatlich</option>
          <option>Jährlich</option>
          <option>Lebenslang</option>
        </select>
    </div>

    <div class="form-group">
        <label for="notes" >Notes</label>
        <textarea id="notes" name="notes" class="form-control" rows="3" ngModel></textarea>
    </div>


    <button class="btn btn-primary">Ok</button>
</form>
</div>
<h3> {{ form.value | json }} </h3>
